.env
dev_env
.vscode/settings.json
src/__pycache__
src/darf_generator.egg-info
src/darf_generator/__pycache__
src/darf_generator/include/__pycache__
src/darf_generator/include/gui_ui.py
downloads/darf.png
src/darf_generator/include/stock_ui.py
downloads/captcha.jpg
src/darf_generator/include/stock_add_ui.py
src/darf_generator/include/stock_list_ui.py
src/darf_generator/include/transaction_ui.py
src/darf_generator/include/darf_generation_ui.py
src/darf_generator/include/transaction_add_ui.py
src/darf_generator/include/transaction_list_ui.py
